ul.mobile-navigation {
  & > li {
    position: relative;
    background: var(--primary-colour);

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: var(--primary-colour);
      
      --slice0: var(--glitch-slice0);
      --slice1: var(--glitch-slice1);
      --slice2: var(--glitch-slice2);
      --slice3: var(--glitch-slice3);
      --slice4: var(--glitch-slice4);
      --slice5: var(--glitch-slice5);

      animation: .75s glitch;
      animation-timing-function: steps(2, end);
    }

    &:nth-child(1):after {
      animation-delay: .2s;
    }

    &:nth-child(2):after {
      animation-delay: .4s;
    }

    &:nth-child(3):after {
      animation-delay: .6s;
    }

    &:nth-child(4):after {
      animation-delay: .8s;
    }

    &:nth-child(5):after {
      animation-delay: 1s;
    }

    &:nth-child(6):after {
      animation-delay: 1.2s;
    }
  }
}
