.logo-glitch {
  &:hover + div {
    --slice0: var(--glitch-slice4);
    --slice1: var(--glitch-slice2);
    --slice2: var(--glitch-slice3);
    --slice3: var(--glitch-slice5);
    --slice4: var(--glitch-slice1);
    --slice5: var(--glitch-slice3);

    & > svg {
      animation: 1s glitch;
      animation-timing-function: steps(5, end);
    }
  }

  & + div {
    --slice0: var(--glitch-slice4);
    --slice1: var(--glitch-slice2);
    --slice2: var(--glitch-slice3);
    --slice3: var(--glitch-slice5);
    --slice4: var(--glitch-slice1);
    --slice5: var(--glitch-slice3);

    & > svg {
      animation: 10s glitch-interval;
      animation-iteration-count: infinite;
    }
  }
}