@keyframes glitch {
  0% {
    clip-path: var(--slice1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice3);
    transform: translate(0, 5px);
  }
  40% {
    clip-path: var(--slice2);
    transform: translate(-5px, 0);
  }
  50% {
    clip-path: var(--slice3);
    transform: translate(5px, 0);
  }
  60% {
    clip-path: var(--slice4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice1);
    transform: translate(-10px, 0);
  }
  100% {
    clip-path: var(--slice1);
    transform: translate(0);
  }
}
